h1{
  font-size :50px;
  color:black;
}
body{
  font-size : 18px;
  color : white;
  padding : 0;
  background-color :black;
  margin : 0;
}
#main{
  top : 0;
  margin : auto;
  height : 100%;
  width : 80%;
  background-color : gray;
}
#foot{
  background-color :white;
  bottom: 0;
  color : black;
  position: absolute;
  width : 80%;
  font-weight :bold;
  x-index : 1;
  margin : auto;
}